    * {
        margin: 0px;
        padding: 0px;

    }

    html,
    body {
        height: 100%;
        position: relative;
        background: url(./pic/背景底图.jpg) no-repeat center center fixed;
        background-size: cover;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 90%;
        margin: 0 auto;
    }

    ul {
        float: right;
        margin: 0 10px 0 0;
        text-align: center;
        list-style: none;
    }

    li {
        padding-top: 30px;
        float: left;
        text-align: center;
        display: inline;
    }

    li a:visited {
        color: #ededed;
        text-decoration: none;
    }

    li a:hover {
        color: gray;
    }

    #plat {
        display: none;
        position: absolute;
        width: 133px;
        text-align: center;
        text-decoration: none;
    }

    #sp {
        padding-top: 10px;
        background-color: #fff;
        border-radius: 20px;
        height: 50px;
    }

    #sp a {
        color: rgb(0, 0, 0);
    }

    #plat a:link {
        color: rgb(0, 0, 0);
    }

    li a:link {
        color: #ededed;
    }

    li:hover #plat {
        display: block;
    }

    #logo {
        padding-top: 20px;
        display: inline;
    }

    #text {
        color: white;
        text-decoration: none;
        font-family: 微软雅黑;
        font-size: 18px;
        align-items: center;
        display: block;
    }

    li a {
        width: 155px;
        height: 46px;
        color: #fff;
        display: block;
        font-size: 18px;
        line-height: 46px;
        text-decoration: none;
    }

    main {
        flex: 1;
        width: 800px;
        margin: 0 auto;
    }

    .app-title-mobile {
        display: none;
    }

    .app-title-pc {
        color: #fff;
        font-size: 48px;
        font-weight: 500;
        white-space: nowrap;
    }

    #phone {
        background: url(./pic/ui.png) no-repeat center;
        background-size: contain;
        flex: 1;
        display: flex;
        justify-content: center;
    }

    #phone_1 {
        height: calc(100vh - 310px);
        min-height: 100%;
    }

    #app {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #download {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 50px;
    }

    #ios,
    #Android {
        display: flex;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        background-color: #fff;
        cursor: pointer;
        position: relative;
    }

    #ios>a,
    #Android>a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 150px;
        height: 150px;
        top: 40px;
    }

    #ios:hover,
    #Android:hover {
        border-radius: 20px 20px 0 0;
    }

    #ios:hover .dropdown-content,
    #Android:hover .dropdown-content {
        display: block;
        border-radius: 0 0 20px 20px;
    }

    #ewm {
        margin-left: 10px;
        margin-top: 10px;
        width: 130px;
        height: 130px;
    }

    #icon_ios {
        margin-left: 40px;
        width: 23px;
        height: 23px;
        margin-right: 6px;
    }

    #icon_android {
        margin-left: 25px;
        width: 25px;
        height: 25px;
        margin-right: 6px;
    }

    p {
        margin-top: 2px;
        margin-left: 10px;
    }

    #footer {
        height: auto;
        margin: 30px auto 10px auto;
        align-items: center;
        overflow: hidden;
    }


    #aboutUs {
        color: rgb(175, 175, 175)
    }

    #Tentangkami {
        display: flex;
    }

    #Tentangkami .footer-title {
        flex: 1;
        text-align: center;
        font-weight: 500;
        margin-bottom: 15px;
    }

    #Tentangkami .footer-title>a {
        color: #fff;
        text-decoration: none;
    }

    .part {
        display: none;
    }

    .app {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .app::after {
        display: block;
        content: '';
        overflow: hidden;
        clear: both;
    }