* {
    margin: 0px;
    padding: 0px;

}

html,
body {
    background: url(./pic/背景底图.jpg)no-repeat center center fixed;
    position: relative;
    background-size: cover;
    min-width: 350px;
    height: 100%;
}

#logo_1,
#logo {
    display: inline;
    width: 60px;
    height: 60px;
    margin: 10px 0 0 10px;
}

ul {
    float: right;
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

li {
    padding-top: 20px;
    float: left;
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

li a:visited {
    color: #ededed;
    text-decoration: none;
}

#plat {
    background-color: #fff;
    display: none;
    position: absolute;
    width: 120px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

#sp {
    padding-top: 0px;
    text-decoration: none;
}

#sp a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#plat a:link {
    color: #ededed;
}

li a:link {
    color: #ededed;
}

li:hover #plat {
    display: block;
}

.text_1 {
    display: none;
}

#text {
    color: white;
    text-decoration: none;
    font-family: 微软雅黑;
    font-size: 18px;
}

#navbar {
    width: 133px;
    height: 40px;
    line-height: 46px;
    text-align: center;
    float: right;
}

#content_1 {
    height: 100%;
    width: 375px;
    margin: 10% auto 0 auto;
}

#content {
    width: 100%;
    height: 450px;
    position: relative;
}

#phone_1 {
    width: 100%;
    height: 50%;
}

#phone {
    float: left;
    width: 45%;
    background: url(./pic/ui.png) no-repeat;
    background-size: 100%;
    margin-left: 10px;
}

#download {
    width: 50%;
    float: right;
    max-width: 300px;
}

#ios {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    float: right;
    margin-top: 90px;
    margin-bottom: 50px;
}

#ewm {
    margin-left: 8px;
    margin-top: 2px;
    width: 134px;
    height: 134px;
    display: none;
}

#icon_ios {
    margin-left: 40px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

#Android {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    float: right;
}

#icon_android {
    margin-left: 25px;
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

#content_1 h2 {
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

#footer {
    height: auto;
    margin: 0px auto 0px auto;
    text-align: center;
    bottom: 10px;
}

#aboutUs {
    display: none;
}

#foot,
#foot_1 {
    width: 200px;
    height: 45px;
    line-height: 45px;
}


#Tentangkami {
    text-decoration: none;
    color: #fff;
    display: block;
}

#Tentangkami_1 {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.part {
    display: none;
    background-color: #2f3130;
    height: 600px;
    width: 300px;
    position: absolute;
    margin: 10%;
    top: 5%;
    border-radius: 20px;
}

.part h2 {
    margin-top: 35px;
    color: #dbdbdb;
    text-align: center;
}

.part p {
    text-align: center;
    color: #dbdbdb;
    padding: 15px 10px 0 10px;
    line-height: 23px;
    font-weight: 100;
}

.part img {
    width: 35px;
    float: right;
}